{{> head}}
{{> navbar }}

<div class ="row col-12">
    <div class="col-8">
        <h1>una de prueba pajarito</h1>
        <p>pos vale la prueba de la un main page</p>
    </div>
    <div class="col-3">
        <img src="/assets/img/ssmarvel_spideyryu01.gif" class="img-thumbnail">
    </div>
</div>


{{> footer}}