
{{> head}}
{{> navbar }}

<form action="">
    Nombre:<input type="text" class="input"/><br/>
    Contraseña:<input type="text" class="input"/><br/>
    <input type="submit" id="submitfrm" value="variable"/>
</form>
<div id="columna">
    funcion
    <div class="sub-columna">
        funcion
    </div>
</div>

<div>
    <p>operaciones <br/><u id="jopetas">jopetas</u> </p>
</div>
    
{{> footer}}